<!-- PAGE CONTENT -->
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>Ошибка 404: Страница не найдена!</h1>
        </div>
        <div class="clearfix"></div>
        <br/><br/><br/><br/>
        <div class="col-lg-8  col-lg-offset-2">
            <div class="input-group">
                <input type="text" placeholder="Сообщите нам об ошибке" class="form-control" />
		      <span class="input-group-btn">
			<button class="btn btn-danger" type="button">Отправить</button>
		      </span>
            </div>
        </div>
        <div class="clearfix"></div>
        <br /><br />
        <p class="text-muted">Произошла ошибка, пожалуйста обратитесь позднее</p>
        <div class="clearfix"></div>
        <br/><br/>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-6  col-lg-offset-3">
            <div class="btn-group btn-group-justified">
                <a href="/" class="btn btn-primary">На главную </a>
                <a class="btn btn-success" ng-click="window.location.reload(true)">Повторить</a>
            </div>

        </div>

    </div>


</div>
<!-- END PAGE CONTENT -->